<%- layout('layouts/main.ejs') %>
<h1 class="container">Bienvenido</h1>

<div class="container">


<img src="https://blog.g4marketingonline.com/hs-fs/hubfs/images/Blog/Cu%C3%A1l-es-el-coste-de-una-tienda-online.png?width=1000&name=Cu%C3%A1l-es-el-coste-de-una-tienda-online.png" alt="">
</div>
