<%- layout('layouts/main.ejs') %>

<h1>Catálogo de productos</h1>
<br>

<div class="container">
<h2>Lenovo IdeaPad 15IML05</h2>
<img src="https://http2.mlstatic.com/D_NQ_NP_2X_908886-MLA45229516792_032021-V.webp" alt="Huawei" width="450px">
<br>
<h4 class="text-success mt-5">$9500</h4> <h5 class="text-info">%15 Oferta!!</h5>
<hr>
<br>
<h2>Laptop Huawei</h2>
<img src="https://consumer-img.huawei.com/content/dam/huawei-cbg-site/common/mkt/pdp/pc/matebook-x-pro-2020/img/pc/huawei-matebook-x-pro-pc-v1.jpg" alt="" width="450px">
<h4 class="text-success mt-5">$9500</h4> <h5 class="text-info">%10 Oferta!!</h5>
<br>
<hr>
<h2>Laptop Dell Inspiron 3505</h2>
<img src="https://http2.mlstatic.com/D_NQ_NP_680368-MLA47215243715_082021-O.jpg" alt="Huawei" width="450px">
<h4 class="text-success mt-5">$12900</h4> <h5 class="text-info">%20 Oferta!!</h5>
<br>


</div>